h1
{
    text-align: center;
    color: aliceblue;
    position: absolute; top: 5px; left: 500px; width: 24%; height: auto;
    font-family: Segoe Print;
}
b
{
    text-align: center;
    color: aliceblue;
    position: absolute; top: 5px; left: 500px; width: 24%; height: auto;
    font-family: Segoe Print;
}
body
{
    padding: 0%;
    margin: 0%;
}

.barra-superior
{
    width: 100%;
    height: 80px;
    background-color: #436b43;
}


html 
{
    scroll-behavior: smooth; 
}

.menu 
{
    background-color: #658665; 
    padding: 15px 0;
    display: flex;
    justify-content: center;
    gap: 40px;
    position: sticky;
    top: 0;
    z-index: 999;
    font-family: Segoe Print;
}

.menu a 
{
    color: white;
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
    
}

.menu a:hover 
{
    text-decoration: underline;
}

section 
{
    padding: 80px 20px;
    min-height: 500px; 
    font-family: Segoe Print;
}
ol
{
    margin-left: auto;
    margin-right: 0;
    width: fit-content;
    position: absolute; top: 1000px; right: 150px; width: 25%; height: auto;
}


#aporte {
    padding: 60px 0;
    animation: mover 8s infinite alternate;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes mover {
    0% { background-position: 0% 0%; }
    100% { background-position: 100% 100%; }
}


.card-aporte {
    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(10px);
    padding: 35px;
    width: 350px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
    text-align: center;
}


.card-aporte .icono {
    background: #003a70;
    color: white;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    margin: 0 auto 15px auto;
}


#aporte button {
    margin: 6px;
    padding: 10px 18px;
    border: none;
    background: #002b5b;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.25s;
}

#aporte button:hover {
    background: #004c94;
}


#aporte button:last-of-type {
    width: 100%;
    margin-top: 15px;
    background: #ff5f7e;
}

#aporte button:last-of-type:hover {
    background: #ff3d61;
}


#total {
    font-size: 25px;
    font-weight: bold;
    color: #003a70;
}